+ A/B Tests: Measure impact of changes on KPIs
+ KPIs: metrics important to an organization
    + How to identify: Experience + Domain knowledge + EDA
        + Experience + Knowledge: What is important to a business
        + EDA: What metrics and relationships impact these KPIs
    + Choosing a KPI
        + Stability over time
        + Importance across different user groups
        + Correlation with other business factors

# Key Performance Indicators: Measuring Business Success

## Loading & examining our data

In [2]:
import pandas as pd

In [5]:
customer_data = pd.read_csv('Data/user_demographics_v1.csv')
app_purchases = pd.read_csv("Data/purchase_data_v1.csv")

In [6]:
customer_data.head()

          uid              reg_date device gender country  age
0  54030035.0  2017-06-29T00:00:00Z    and      M     USA   19
1  72574201.0  2018-03-05T00:00:00Z    iOS      F     TUR   22
2  64187558.0  2016-02-07T00:00:00Z    iOS      M     USA   16
3  92513925.0  2017-05-25T00:00:00Z    and      M     BRA   41
4  99231338.0  2017-03-26T00:00:00Z    iOS      M     FRA   59

In [7]:
app_purchases.head()

         date       uid            sku  price
0  2017-07-10  41195147  sku_three_499    499
1  2017-07-15  41195147  sku_three_499    499
2  2017-11-12  41195147   sku_four_599    599
3  2017-09-26  91591874    sku_two_299    299
4  2017-12-01  91591874   sku_four_599    599

## Calculating KPIs

Goal: Examine the KPI "user conversion rate" after the free trail  
Week One Conversion Rate: Limit to users who convert in their first week after the trail ends

In [8]:
# Maxmium Date