In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Data/NY property data.csv")

In [3]:
df.head()

,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR

In [4]:
df = df[['BBLE',
         'B',
         'TAXCLASS',
         'ZIP',
         'BLOCK',
         'BLDGCL',
         'FULLVAL', 
         'AVLAND', 
         'AVTOT', 
         'LTFRONT', 
         'LTDEPTH', 
         'BLDFRONT', 
         'BLDDEPTH', 
         'STORIES']]

In [5]:
df.head()

,BBLE,B,TAXCLASS,ZIP,BLOCK,BLDGCL,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES
0,1000010101,1,4,10004.0,1,P7,21400000.0,4225500.0,9630000.0,500,1046,0,0,NaN
1,1000010201,1,4,10004.0,1,Z9,193800000.0,14310000.0,87210000.0,27,0,0,0,NaN
2,1000020001,1,4,10004.0,2,Y7,104686000.0,39008700.0,47108700.0,709,564,709,564,3.0
3,1000020023,1,4,10004.0,2,T2,39200000.0,15255000.0,17640000.0,793,551,85,551,2.0
4,1000030001,1,4,10004.0,3,Q1,272300000.0,121050000.0,122535000.0,323,1260,89,57,1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 14 columns):
BBLE        1070994 non-null object
B           1070994 non-null int64
TAXCLASS    1070994 non-null object
ZIP         1041104 non-null float64
BLOCK       1070994 non-null int64
BLDGCL      1070994 non-null object
FULLVAL     1070994 non-null float64
AVLAND      1070994 non-null float64
AVTOT       1070994 non-null float64
LTFRONT     1070994 non-null int64
LTDEPTH     1070994 non-null int64
BLDFRONT    1070994 non-null int64
BLDDEPTH    1070994 non-null int64
STORIES     1014730 non-null float64
dtypes: float64(5), int64(6), object(3)
memory usage: 114.4+ MB

In [7]:
df.describe()

,B,ZIP,BLOCK,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES
count,1.070994e+06,1.041104e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.014730e+06
mean,3.215427e+00,1.092396e+04,4.757239e+03,8.742645e+05,8.506792e+04,2.272382e+05,3.663530e+01,8.886159e+01,2.304277e+01,3.992284e+01,5.006918e+00
std,1.201197e+00,5.284208e+02,3.676579e+03,1.158243e+07,4.057260e+06,6.877529e+06,7.403284e+01,7.639628e+01,3.557970e+01,4.270715e+01,8.365707e+00
min,1.000000e+00,1.000100e+04,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,3.000000e+00,1.031400e+04,1.555000e+03,3.040000e+05,9.180000e+03,1.837400e+04,1.900000e+01,8.000000e+01,1.500000e+01,2.600000e+01,2.000000e+00
50%,3.000000e+00,1.121400e+04,4.047000e+03,4.470000e+05,1.367800e+04,2.534000e+04,2.500000e+01,1.000000e+02,2.000000e+01,3.900000e+01,2.000000e+00
75%,4.000000e+00,1.136400e+04,6.898000e+03,6.190000e+05,1.974000e+04,4.543800e+04,4.000000e+01,1.000000e+02,2.400000e+01,5.000000e+01,3.000000e+00
max,5.000000e+00,3.380300e+04,1.635000e+04,6.150000e+09,2.668500e+09,4.668309e+09,9.999000e+03,9.999000e+03,7.575000e+03,9.393000e+03,1.190000e+02

In [8]:
df_res = df.copy()

# Fill Zip by [B, BLOCK]

In [9]:
def fill_zip(df, by):
    df_ZIP_NotNA = df[df['ZIP'].notna()]
    ZIP = df_ZIP_NotNA.groupby(by)["ZIP"].agg(lambda x: stats.mode(x)[0][0]).reset_index()
    temp_df = pd.merge(left = df, right = ZIP, on = by, how = 'left')
    temp_df_w = temp_df[['ZIP_x', 'ZIP_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if np.isnan(row['ZIP_x']):
            res.append(row['ZIP_y'])
        else:
            res.append(row['ZIP_x'])
    return res

In [10]:
B_BLOCK = fill_zip(df, ['B', 'BLOCK'])

In [11]:
df_res['ZIP'] = B_BLOCK

In [12]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 14 columns):
BBLE        1070994 non-null object
B           1070994 non-null int64
TAXCLASS    1070994 non-null object
ZIP         1068546 non-null float64
BLOCK       1070994 non-null int64
BLDGCL      1070994 non-null object
FULLVAL     1070994 non-null float64
AVLAND      1070994 non-null float64
AVTOT       1070994 non-null float64
LTFRONT     1070994 non-null int64
LTDEPTH     1070994 non-null int64
BLDFRONT    1070994 non-null int64
BLDDEPTH    1070994 non-null int64
STORIES     1014730 non-null float64
dtypes: float64(5), int64(6), object(3)
memory usage: 114.4+ MB

In [13]:
B = fill_zip(df_res, ['B'])

In [14]:
df_res['ZIP'] = B

In [15]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 14 columns):
BBLE        1070994 non-null object
B           1070994 non-null int64
TAXCLASS    1070994 non-null object
ZIP         1070994 non-null float64
BLOCK       1070994 non-null int64
BLDGCL      1070994 non-null object
FULLVAL     1070994 non-null float64
AVLAND      1070994 non-null float64
AVTOT       1070994 non-null float64
LTFRONT     1070994 non-null int64
LTDEPTH     1070994 non-null int64
BLDFRONT    1070994 non-null int64
BLDDEPTH    1070994 non-null int64
STORIES     1014730 non-null float64
dtypes: float64(5), int64(6), object(3)
memory usage: 114.4+ MB

In [16]:
df['ZIP'] = B

# Fill FULLVAL by [BLDGCL, ZIP]

In [17]:
def fill_fullval(df, by):
    df_FULLVAL_Not0 = df[df['FULLVAL'] != 0]
    FULLVAL = df_FULLVAL_Not0.groupby(by)["FULLVAL"].median().reset_index()
    temp_df = pd.merge(left = df, right = FULLVAL, on = by, how = 'left')
    temp_df_w = temp_df[['FULLVAL_x', 'FULLVAL_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if (row['FULLVAL_x'] == 0) or (np.isnan(row['FULLVAL_x'])):
            res.append(row['FULLVAL_y'])
        else:
            res.append(row['FULLVAL_x'])
    return res

In [18]:
BLDGCL_ZIP = fill_fullval(df, ['BLDGCL', 'ZIP'])

In [19]:
df_res['FULLVAL'] = BLDGCL_ZIP

In [20]:
df_res['FULLVAL'].describe()

count    1.060793e+06
mean     8.880004e+05
std      1.165201e+07
min      4.000000e+00
25%      3.103000e+05
50%      4.500000e+05
75%      6.230000e+05
max      6.150000e+09
Name: FULLVAL, dtype: float64

In [21]:
sum(df_res['FULLVAL'].isna())

10201

In [22]:
ZIP = fill_fullval(df_res, ['ZIP'])

In [23]:
df_res['FULLVAL'] = ZIP

In [24]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 14 columns):
BBLE        1070994 non-null object
B           1070994 non-null int64
TAXCLASS    1070994 non-null object
ZIP         1070994 non-null float64
BLOCK       1070994 non-null int64
BLDGCL      1070994 non-null object
FULLVAL     1070994 non-null float64
AVLAND      1070994 non-null float64
AVTOT       1070994 non-null float64
LTFRONT     1070994 non-null int64
LTDEPTH     1070994 non-null int64
BLDFRONT    1070994 non-null int64
BLDDEPTH    1070994 non-null int64
STORIES     1014730 non-null float64
dtypes: float64(5), int64(6), object(3)
memory usage: 114.4+ MB

# Fill AVLAND by [BLDGCL, ZIP]

In [25]:
def fill_avland(df, by):
    df_AVLAND_Not0 = df[df['AVLAND'] != 0]
    AVLAND = df_AVLAND_Not0.groupby(by)["AVLAND"].median().reset_index()
    temp_df = pd.merge(left = df, right = AVLAND, on = by, how = 'left')
    temp_df_w = temp_df[['AVLAND_x', 'AVLAND_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if (row['AVLAND_x'] == 0) or (np.isnan(row['AVLAND_x'])):
            res.append(row['AVLAND_y'])
        else:
            res.append(row['AVLAND_x'])
    return res

In [26]:
BLDGCL_ZIP = fill_avland(df_res, ['BLDGCL', 'ZIP'])

In [27]:
df_temp = df_res.copy()

In [28]:
df_temp['AVLAND'] = BLDGCL_ZIP

In [29]:
df_temp['AVLAND'].describe()

count    1.060793e+06
mean     8.661529e+04
std      4.078684e+06
min      1.000000e+00
25%      9.429000e+03
50%      1.378100e+04
75%      1.987600e+04
max      2.668500e+09
Name: AVLAND, dtype: float64

In [30]:
ZIP = fill_avland(df_temp, ['ZIP'])

In [31]:
df_temp['AVLAND'] = ZIP

In [32]:
df_temp['AVLAND'].describe()

count    1.070994e+06
mean     8.599032e+04
std      4.059247e+06
min      1.000000e+00
25%      9.462000e+03
50%      1.379300e+04
75%      1.987000e+04
max      2.668500e+09
Name: AVLAND, dtype: float64

In [33]:
df_res = df_temp.copy()

# Fill AVTOT by [BLDGCL, ZIP]

In [34]:
def fill_avtot(df, by):
    df_AVTOT_Not0 = df[df['AVTOT'] != 0]
    AVTOT = df_AVTOT_Not0.groupby(by)["AVTOT"].median().reset_index()
    temp_df = pd.merge(left = df, right = AVTOT, on = by, how = 'left')
    temp_df_w = temp_df[['AVTOT_x', 'AVTOT_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if (row['AVTOT_x'] == 0) or (np.isnan(row['AVTOT_x'])):
            res.append(row['AVTOT_y'])
        else:
            res.append(row['AVTOT_x'])
    return res

In [35]:
BLDGCL_ZIP = fill_avtot(df_res, ['BLDGCL', 'ZIP'])

In [36]:
df_temp = df_res.copy()

In [37]:
df_temp['AVTOT'] = BLDGCL_ZIP

In [38]:
df_temp['AVTOT'].describe()

count    1.060793e+06
mean     2.316296e+05
std      6.915428e+06
min      1.000000e+00
25%      1.864900e+04
50%      2.556000e+04
75%      4.635000e+04
max      4.668309e+09
Name: AVTOT, dtype: float64

In [39]:
ZIP = fill_avtot(df_temp, ['ZIP'])

In [40]:
df_temp['AVTOT'] = ZIP

In [41]:
df_temp['AVTOT'].describe()

count    1.070994e+06
mean     2.301927e+05
std      6.884520e+06
min      1.000000e+00
25%      1.866200e+04
50%      2.562700e+04
75%      4.643200e+04
max      4.668309e+09
Name: AVTOT, dtype: float64

In [42]:
df_res = df_temp.copy()

# Fill LTFRONT by [BLDGCL, ZIP]

In [43]:
def fill_ltfront(df, by):
    df_LTFRONT_Not0 = df[df['LTFRONT'] != 0]
    LTFRONT = df_LTFRONT_Not0.groupby(by)["LTFRONT"].median().reset_index()
    temp_df = pd.merge(left = df, right = LTFRONT, on = by, how = 'left')
    temp_df_w = temp_df[['LTFRONT_x', 'LTFRONT_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if (row['LTFRONT_x'] == 0) or (np.isnan(row['LTFRONT_x'])):
            res.append(row['LTFRONT_y'])
        else:
            res.append(row['LTFRONT_x'])
    return res

In [44]:
BLDGCL_ZIP = fill_ltfront(df_res, ['BLDGCL', 'ZIP'])

In [45]:
df_temp = df_res.copy()

In [46]:
df_temp['LTFRONT'] = BLDGCL_ZIP

In [47]:
df_temp['LTFRONT'].describe()

count    1.055124e+06
mean     5.997583e+01
std      1.037124e+02
min      1.000000e+00
25%      2.100000e+01
50%      3.000000e+01
75%      5.200000e+01
max      9.999000e+03
Name: LTFRONT, dtype: float64

In [48]:
BLDGCL = fill_ltfront(df_temp, ['BLDGCL'])

In [49]:
df_temp['LTFRONT'] = BLDGCL

In [50]:
df_temp['LTFRONT'].describe()

count    1.070994e+06
mean     6.046891e+01
std      1.031345e+02
min      1.000000e+00
25%      2.100000e+01
50%      3.000000e+01
75%      5.600000e+01
max      9.999000e+03
Name: LTFRONT, dtype: float64

In [51]:
df_res = df_temp.copy()

# Fill LTDEPTH by [BLDGCL, ZIP]

In [52]:
def fill_ltdepth(df, by):
    df_LTDEPTH_Not0 = df[df['LTDEPTH'] != 0]
    LTDEPTH = df_LTDEPTH_Not0.groupby(by)["LTDEPTH"].median().reset_index()
    temp_df = pd.merge(left = df, right = LTDEPTH, on = by, how = 'left')
    temp_df_w = temp_df[['LTDEPTH_x', 'LTDEPTH_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if (row['LTDEPTH_x'] == 0) or (np.isnan(row['LTDEPTH_x'])):
            res.append(row['LTDEPTH_y'])
        else:
            res.append(row['LTDEPTH_x'])
    return res

In [53]:
BLDGCL_ZIP = fill_ltdepth(df_res, ['BLDGCL', 'ZIP'])

In [54]:
df_temp = df_res.copy()

In [55]:
df_temp['LTDEPTH'] = BLDGCL_ZIP

In [56]:
df_temp['LTDEPTH'].describe()

count    1.053387e+06
mean     1.134922e+02
std      8.438982e+01
min      1.000000e+00
25%      9.900000e+01
50%      1.000000e+02
75%      1.020000e+02
max      9.999000e+03
Name: LTDEPTH, dtype: float64

In [57]:
BLDGCL = fill_ltdepth(df_temp, ['BLDGCL'])

In [58]:
df_temp['LTDEPTH'] = BLDGCL

In [59]:
df_temp['LTDEPTH'].describe()

count    1.070994e+06
mean     1.134198e+02
std      8.376743e+01
min      1.000000e+00
25%      9.900000e+01
50%      1.000000e+02
75%      1.020000e+02
max      9.999000e+03
Name: LTDEPTH, dtype: float64

In [60]:
df_res = df_temp.copy()

# Fill BLDFRONT by [BLDGCL, ZIP]

In [61]:
def fill_bldfront(df, by):
    df_BLDFRONT_Not0 = df[df['BLDFRONT'] != 0]
    BLDFRONT = df_BLDFRONT_Not0.groupby(by)["BLDFRONT"].median().reset_index()
    temp_df = pd.merge(left = df, right = BLDFRONT, on = by, how = 'left')
    temp_df_w = temp_df[['BLDFRONT_x', 'BLDFRONT_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if (row['BLDFRONT_x'] == 0) or (np.isnan(row['BLDFRONT_x'])):
            res.append(row['BLDFRONT_y'])
        else:
            res.append(row['BLDFRONT_x'])
    return res

In [62]:
BLDGCL_ZIP = fill_bldfront(df_res, ['BLDGCL', 'ZIP'])

In [63]:
df_temp = df_res.copy()

In [64]:
df_temp['BLDFRONT'] = BLDGCL_ZIP

In [65]:
df_temp['BLDFRONT'].describe()

count    996331.000000
mean         39.269110
std          48.040249
min           1.000000
25%          19.000000
50%          22.000000
75%          30.000000
max        7575.000000
Name: BLDFRONT, dtype: float64

In [66]:
BLDGCL = fill_bldfront(df_temp, ['BLDGCL'])

In [67]:
df_temp['BLDFRONT'] = BLDGCL

In [68]:
df_temp['BLDFRONT'].describe()

count    1.066714e+06
mean     4.077476e+01
std      4.745941e+01
min      1.000000e+00
25%      2.000000e+01
50%      2.200000e+01
75%      4.000000e+01
max      7.575000e+03
Name: BLDFRONT, dtype: float64

In [69]:
ZIP = fill_bldfront(df_temp, ['ZIP'])

In [70]:
df_temp['BLDFRONT'] = ZIP

In [71]:
df_temp['BLDFRONT'].describe()

count    1.070994e+06
mean     4.073835e+01
std      4.739546e+01
min      1.000000e+00
25%      2.000000e+01
50%      2.200000e+01
75%      4.000000e+01
max      7.575000e+03
Name: BLDFRONT, dtype: float64

In [72]:
df_res = df_temp.copy()

# Fill BLDDEPTH by [BLDGCL, ZIP]

In [73]:
def fill_blddepth(df, by):
    df_BLDDEPTH_Not0 = df[df['BLDDEPTH'] != 0]
    BLDDEPTH = df_BLDDEPTH_Not0.groupby(by)["BLDDEPTH"].median().reset_index()
    temp_df = pd.merge(left = df, right = BLDDEPTH, on = by, how = 'left')
    temp_df_w = temp_df[['BLDDEPTH_x', 'BLDDEPTH_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if (row['BLDDEPTH_x'] == 0) or (np.isnan(row['BLDDEPTH_x'])):
            res.append(row['BLDDEPTH_y'])
        else:
            res.append(row['BLDDEPTH_x'])
    return res

In [74]:
BLDGCL_ZIP = fill_blddepth(df_res, ['BLDGCL', 'ZIP'])

In [75]:
df_temp = df_res.copy()

In [76]:
df_temp['BLDDEPTH'] = BLDGCL_ZIP

In [77]:
df_temp['BLDDEPTH'].describe()

count    996334.000000
mean         59.700814
std          57.485369
min           1.000000
25%          36.000000
50%          46.000000
75%          64.000000
max        9393.000000
Name: BLDDEPTH, dtype: float64

In [78]:
BLDGCL = fill_blddepth(df_temp, ['BLDGCL'])

In [79]:
df_temp['BLDDEPTH'] = BLDGCL

In [80]:
df_temp['BLDDEPTH'].describe()

count    1.067713e+06
mean     6.151444e+01
std      5.629237e+01
min      1.000000e+00
25%      3.600000e+01
50%      4.800000e+01
75%      7.200000e+01
max      9.393000e+03
Name: BLDDEPTH, dtype: float64

In [81]:
ZIP = fill_blddepth(df_temp, ['ZIP'])

In [82]:
df_temp['BLDDEPTH'] = ZIP

In [83]:
df_temp['BLDDEPTH'].describe()

count    1.070994e+06
mean     6.149731e+01
std      5.623082e+01
min      1.000000e+00
25%      3.600000e+01
50%      4.800000e+01
75%      7.200000e+01
max      9.393000e+03
Name: BLDDEPTH, dtype: float64

In [84]:
df_res = df_temp.copy()

# Fill STORIES by [BLDGCL, ZIP]

In [85]:
def fill_stories(df, by):
    df_STORIES_NotNA = df[df['STORIES'].notna()]
    STORIES = df_STORIES_NotNA.groupby(by)["STORIES"].agg(lambda x: stats.mode(x)[0][0]).reset_index()
    temp_df = pd.merge(left = df, right = STORIES, on = by, how = 'left')
    temp_df_w = temp_df[['STORIES_x', 'STORIES_y']]
    res = []
    for index, row in temp_df_w.iterrows():
        if np.isnan(row['STORIES_x']):
            res.append(row['STORIES_y'])
        else:
            res.append(row['STORIES_x'])
    return res

In [86]:
BLDGCL_ZIP = fill_stories(df_res, ['BLDGCL', 'ZIP'])

In [87]:
df_temp = df_res.copy()

In [88]:
df_temp['STORIES'] = BLDGCL_ZIP

In [89]:
df_temp['STORIES'].describe()

count    1.029255e+06
mean     5.022109e+00
std      8.404878e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      1.190000e+02
Name: STORIES, dtype: float64

In [90]:
BLDGCL = fill_stories(df_temp, ['BLDGCL'])

In [91]:
df_temp['STORIES'] = BLDGCL

In [92]:
df_temp['STORIES'].describe()

count    1.066714e+06
mean     4.985859e+00
std      8.262626e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      1.190000e+02
Name: STORIES, dtype: float64

In [93]:
ZIP = fill_stories(df_temp, ['ZIP'])

In [94]:
df_temp['STORIES'] = ZIP

In [95]:
df_temp['STORIES'].describe()

count    1.070994e+06
mean     4.981610e+00
std      8.259137e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      1.190000e+02
Name: STORIES, dtype: float64

In [96]:
df_res = df_temp.copy()

# Check

In [97]:
df_res.head()

,BBLE,B,TAXCLASS,ZIP,BLOCK,BLDGCL,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES
0,1000010101,1,4,10004.0,1,P7,21400000.0,4225500.0,9630000.0,500.0,1046.0,37.5,66.0,3.0
1,1000010201,1,4,10004.0,1,Z9,193800000.0,14310000.0,87210000.0,27.0,177.0,37.0,227.0,3.0
2,1000020001,1,4,10004.0,2,Y7,104686000.0,39008700.0,47108700.0,709.0,564.0,709.0,564.0,3.0
3,1000020023,1,4,10004.0,2,T2,39200000.0,15255000.0,17640000.0,793.0,551.0,85.0,551.0,2.0
4,1000030001,1,4,10004.0,3,Q1,272300000.0,121050000.0,122535000.0,323.0,1260.0,89.0,57.0,1.0

In [98]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 14 columns):
BBLE        1070994 non-null object
B           1070994 non-null int64
TAXCLASS    1070994 non-null object
ZIP         1070994 non-null float64
BLOCK       1070994 non-null int64
BLDGCL      1070994 non-null object
FULLVAL     1070994 non-null float64
AVLAND      1070994 non-null float64
AVTOT       1070994 non-null float64
LTFRONT     1070994 non-null float64
LTDEPTH     1070994 non-null float64
BLDFRONT    1070994 non-null float64
BLDDEPTH    1070994 non-null float64
STORIES     1070994 non-null float64
dtypes: float64(9), int64(2), object(3)
memory usage: 114.4+ MB

In [99]:
df_res.describe()

,B,ZIP,BLOCK,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,3.215427e+00,1.092022e+04,4.757239e+03,8.846037e+05,8.599032e+04,2.301927e+05,6.046891e+01,1.134198e+02,4.073835e+01,6.149731e+01,4.981610e+00
std,1.201197e+00,5.285420e+02,3.676579e+03,1.160255e+07,4.059247e+06,6.884520e+06,1.031345e+02,8.376743e+01,4.739546e+01,5.623082e+01,8.259137e+00
min,1.000000e+00,1.000100e+04,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,3.000000e+00,1.031400e+04,1.555000e+03,3.110000e+05,9.462000e+03,1.866200e+04,2.100000e+01,9.900000e+01,2.000000e+01,3.600000e+01,2.000000e+00
50%,3.000000e+00,1.121400e+04,4.047000e+03,4.500000e+05,1.379300e+04,2.562700e+04,3.000000e+01,1.000000e+02,2.200000e+01,4.800000e+01,2.000000e+00
75%,4.000000e+00,1.136300e+04,6.898000e+03,6.220000e+05,1.987000e+04,4.643200e+04,5.600000e+01,1.020000e+02,4.000000e+01,7.200000e+01,3.000000e+00
max,5.000000e+00,3.380300e+04,1.635000e+04,6.150000e+09,2.668500e+09,4.668309e+09,9.999000e+03,9.999000e+03,7.575000e+03,9.393000e+03,1.190000e+02

In [100]:
df_res.to_csv('Data/Cleaned Data.csv')