In [23]:
import pandas as pd
from sklearn.decomposition import PCA
from scipy import stats
import numpy as np
from sklearn.preprocessing import scale

In [24]:
df = pd.read_csv('~/D/2019_Spring/DSO562_Fraud Analytics/ASSIGNMENTS/Fraud/Normalized_Data_45.csv', index_col = 0)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [25]:
df.head()

,BBLE,FULLVAL_LTAREA_By_B,FULLVAL_BLDAREA_By_B,FULLVAL_BLDVOL_By_B,AVLAND_LTAREA_By_B,AVLAND_BLDAREA_By_B,AVLAND_BLDVOL_By_B,AVTOT_LTAREA_By_B,AVTOT_BLDAREA_By_B,AVTOT_BLDVOL_By_B,...,AVTOT_BLDVOL_By_ZIP3,FULLVAL_LTAREA_By_ALL,FULLVAL_BLDAREA_By_ALL,FULLVAL_BLDVOL_By_ALL,AVLAND_LTAREA_By_ALL,AVLAND_BLDAREA_By_ALL,AVLAND_BLDVOL_By_ALL,AVTOT_LTAREA_By_ALL,AVTOT_BLDAREA_By_ALL,AVTOT_BLDVOL_By_ALL
0,1000010101,0.112648,14.995326,14.223587,0.233846,22.195187,13.537107,0.194008,25.014722,22.347674,...,21.199529,0.118493,14.342882,8.663977,0.729606,37.817218,19.768950,0.600597,51.808972,32.019440
1,1000010201,111.642245,40.016909,44.283665,86.667580,22.149706,15.760928,192.275885,66.754924,69.577166,...,66.002538,117.434555,38.275779,26.974395,270.404748,37.739725,23.016514,595.233759,138.258742,99.689207
2,1000020001,0.720734,0.454026,0.502436,2.823516,1.268213,0.902414,1.241285,0.757391,0.789412,...,0.748855,0.758128,0.434271,0.306047,8.809431,2.160841,1.317843,3.842679,1.568663,1.131059
3,1000020023,0.246986,1.451553,2.409485,1.010512,4.234456,4.519628,0.425372,2.421434,3.785710,...,3.591214,0.259801,1.388396,1.467683,3.152820,7.214868,6.600251,1.316837,5.015127,5.424113
4,1000030001,1.841986,93.089377,309.044769,8.608863,310.210035,662.202670,3.172361,155.288715,485.561874,...,460.615422,1.937554,89.039071,188.247647,26.859841,528.550648,967.049450,9.820767,321.624547,695.706379

In [26]:
BBLE = df["BBLE"]

In [27]:
del df['BBLE']

In [28]:
df = pd.DataFrame(scale(df.values))

In [29]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,2.123015e-17,-5.519840e-18,1.900099e-17,-3.529513e-18,-4.133246e-18,-1.459573e-19,1.470188e-17,-6.395584e-18,5.181484e-18,1.629414e-17,...,2.786458e-19,-3.038566e-18,3.221676e-17,-7.961308e-18,2.355220e-17,2.320389e-18,-9.940024e-18,1.342807e-17,-9.906852e-18,9.337951e-19
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-6.840050e-02,-6.434876e-02,-5.634994e-02,-2.635676e-02,-1.109821e-02,-1.164857e-02,-5.774180e-02,-1.609538e-02,-1.616008e-02,-1.621679e-01,...,-1.689028e-02,-4.573436e-02,-6.109710e-02,-5.670711e-02,-3.443721e-02,-1.235937e-02,-1.206996e-02,-6.751999e-02,-1.814187e-02,-1.644877e-02
25%,-5.513196e-02,-4.352863e-02,-4.113772e-02,-1.926681e-02,-9.511616e-03,-1.062793e-02,-4.580386e-02,-1.191885e-02,-1.257996e-02,-1.061172e-01,...,-1.328600e-02,-3.592551e-02,-4.194224e-02,-4.187496e-02,-2.730447e-02,-1.083955e-02,-1.112448e-02,-5.579898e-02,-1.395783e-02,-1.311584e-02
50%,-3.676209e-02,-1.092241e-02,-1.177847e-02,-1.027793e-02,-7.105276e-03,-8.124680e-03,-3.320373e-02,-9.281800e-03,-9.916783e-03,-5.556057e-02,...,-1.005506e-02,-2.557970e-02,-1.082279e-02,-9.531666e-03,-2.025552e-02,-8.269656e-03,-8.563325e-03,-4.846248e-02,-1.163019e-02,-1.042777e-02
75%,1.070438e-03,8.204852e-03,6.281749e-03,-6.819998e-04,-5.398785e-03,-6.443444e-03,-1.433440e-02,-6.606212e-03,-7.163250e-03,6.358342e-03,...,-7.183171e-03,-1.362586e-02,8.218223e-03,1.009744e-02,-1.198927e-02,-6.781353e-03,-7.112557e-03,-3.739305e-02,-9.426511e-03,-8.048781e-03
max,4.270494e+02,5.247204e+02,4.915731e+02,8.410060e+02,7.494740e+02,6.938883e+02,5.634336e+02,6.667178e+02,6.656254e+02,5.889173e+02,...,6.955412e+02,1.106749e+02,5.219223e+02,5.826526e+02,8.676147e+02,6.344910e+02,6.449512e+02,6.143944e+02,5.598521e+02,6.246449e+02

In [30]:
columns = list(df.columns)

In [31]:
len(columns)

45

In [32]:
df_new = df[columns]

In [33]:
df_new.shape

(1070994, 45)

In [34]:
mat = df_new.values

In [35]:
mat

array([[-6.06953662e-02,  9.00583001e-01,  7.45148635e-01, ...,
        -2.69677191e-02,  9.21772363e-01,  5.10232040e-01],
       [ 7.56799147e+00,  2.51069282e+00,  2.43903284e+00, ...,
         4.01226695e+01,  2.49013725e+00,  1.62331737e+00],
       [-1.91019424e-02, -3.51328012e-02, -2.80377199e-02, ...,
         1.91937699e-01,  1.03166407e-02,  2.15575929e-03],
       ...,
       [-5.14515587e-02,  9.75957374e-03,  4.36175533e-03, ...,
        -6.40229123e-02, -1.09153634e-02, -9.36233239e-03],
       [-2.91723070e-02,  3.14627521e-02,  2.21416152e-02, ...,
        -6.03457939e-02, -9.86071064e-03, -8.32812698e-03],
       [-7.98587181e-03,  1.35473371e-02,  7.46479863e-03, ...,
        -5.51900272e-02, -1.06285239e-02, -9.08105402e-03]])

In [36]:
pca=PCA(n_components=8)

In [37]:
newData=pca.fit_transform(mat)

In [38]:
newData.shape

(1070994, 8)

In [39]:
sum(pca.explained_variance_ratio_)

0.9708592508135425

In [40]:
df_pca = pd.DataFrame(newData)

In [41]:
df_pca['Index'] = BBLE

In [42]:
df_pca.shape

(1070994, 9)

In [43]:
df_pca.head()

,0,1,2,3,4,5,6,7,Index
0,2.451661,-0.989880,-0.703086,-0.616673,0.595488,0.792087,-0.878393,0.125770,1000010101
1,21.523377,48.778412,13.456927,-6.158127,1.922824,18.103603,4.171432,0.996765,1000010201
2,-0.014298,0.216899,-0.017475,0.126546,-0.014873,-0.102865,-0.046818,0.052827,1000020001
3,0.172385,-0.192537,-0.120853,0.003158,-0.045241,-0.079467,-0.107335,-0.013985,1000020023
4,39.168103,-10.923846,-5.059805,-6.340453,-12.375839,10.350077,-10.587977,-11.529734,1000030001

In [43]:
#df_pca.to_csv('~/PCA.csv')

In [ ]:
#df_norm_pca = df_pca.apply(stats.zscore)

In [44]:
df_test = df_pca[[0,1,2,3,4,5,6,7]]

In [45]:
df_norm_pca = pd.DataFrame(scale(df_test.values))

In [46]:
df_norm_pca.describe()

,0,1,2,3,4,5,6,7
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,-7.961308e-20,3.449900e-18,5.307538e-19,-9.818946e-19,4.246031e-19,5.307538e-19,3.794890e-18,1.061508e-19
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-5.516000e-02,-3.524965e+02,-3.731621e+02,-1.376972e+02,-2.616645e+02,-2.989201e+02,-3.718329e+02,-2.405357e+02
25%,-2.739410e-02,-5.200942e-02,-2.545193e-02,4.215384e-03,-1.332496e-02,-1.170102e-01,-2.680845e-02,-3.924565e-02
50%,-1.322499e-02,-2.501412e-02,-1.115978e-02,2.052807e-02,6.489255e-03,-1.597631e-02,-6.659651e-04,-1.456950e-02
75%,-3.349234e-03,1.952932e-03,2.611042e-03,3.105066e-02,2.310568e-02,4.258285e-02,2.529310e-02,1.225695e-02
max,6.396771e+02,6.211005e+02,7.512206e+02,4.875744e+02,4.419350e+02,4.571165e+02,4.224780e+02,3.017821e+02

In [47]:
df_norm_pca['BBLE'] = BBLE

In [48]:
df_norm_pca.head()

,0,1,2,3,4,5,6,7,BBLE
0,0.501644,-0.321356,-0.380120,-0.394689,0.487550,0.699028,-0.881291,0.152125,1000010101
1,4.403986,15.835488,7.275422,-3.941386,1.574292,15.976702,4.185198,1.205638,1000010201
2,-0.002926,0.070414,-0.009448,0.080993,-0.012177,-0.090780,-0.046973,0.063897,1000020001
3,0.035272,-0.062505,-0.065339,0.002021,-0.037041,-0.070131,-0.107690,-0.016916,1000020023
4,8.014345,-3.546332,-2.735559,-4.058080,-10.132589,9.134098,-10.622919,-13.945797,1000030001

In [49]:
df_norm_pca.to_csv('~/PCA_Normalized.csv')