# 5. Pyspark simple projects

Read in a single file

In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

In [2]:
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [3]:
path = 'Data/cogsley_clients.csv'
data = sc.textFile(path).cache()

In [4]:
data.take(5)

[u'Name,Symbol,LastSale,MarketCapLabel,MarketCapAmount,IPOyear,Sector,industry,Summary Quote',
 u'1347 Capital Corp.,TFSC,9.43,$56.09M,56090000,2014,Finance,Business Services,http://www.nasdaq.com/symbol/tfsc',
 u'1347 Capital Corp.,TFSCR,0.37,n/a,0,2014,Finance,Business Services,http://www.nasdaq.com/symbol/tfscr',
 u'1347 Capital Corp.,TFSCU,9.97,$41.67M,41670000,2014,n/a,n/a,http://www.nasdaq.com/symbol/tfscu',
 u'1347 Capital Corp.,TFSCW,0.2,n/a,0,2014,Finance,Business Services,http://www.nasdaq.com/symbol/tfscw']

In [5]:
numcomputer = data.filter(lambda s:'computer' in s.lower()).count()

In [6]:
numcomputer

176

Read in mutiple files

In [7]:
path = 'Data/Sales/*.csv'
files = sc.wholeTextFiles(path)

In [8]:
files.count()

84

In [9]:
## Converst to Dataframe
filenames = files.toDF(['name', 'data'])

In [10]:
filenames.show(2)

+--------------------+--------------------+
|                name|                data|
+--------------------+--------------------+
|file:/Users/cheng...|36034,10/16/12,10...|
|file:/Users/cheng...|26305,12/2/10,50,...|
+--------------------+--------------------+
only showing top 2 rows

In [11]:
filenames.select('name').show(2)

+--------------------+
|                name|
+--------------------+
|file:/Users/cheng...|
|file:/Users/cheng...|
+--------------------+
only showing top 2 rows

Read csv files

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test').getOrCreate()

In [13]:
path = 'Data/parking-citations.csv'
data = spark.read.csv(path).cache()

In [14]:
data.take(5)

[Row(_c0=u'Ticket number', _c1=u'Issue Date', _c2=u'Issue time', _c3=u'Meter Id', _c4=u'Marked Time', _c5=u'RP State Plate', _c6=u'Plate Expiry Date', _c7=u'VIN', _c8=u'Make', _c9=u'Body Style', _c10=u'Color', _c11=u'Location', _c12=u'Route', _c13=u'Agency', _c14=u'Violation code', _c15=u'Violation Description', _c16=u'Fine amount', _c17=u'Latitude', _c18=u'Longitude'),
 Row(_c0=u'1103341116', _c1=u'2015-12-21T00:00:00', _c2=u'1251', _c3=None, _c4=None, _c5=u'CA', _c6=u'200304', _c7=None, _c8=u'HOND', _c9=u'PA', _c10=u'GY', _c11=u'13147 WELBY WAY', _c12=u'01521', _c13=u'1', _c14=u'4000A1', _c15=u'NO EVIDENCE OF REG', _c16=u'50', _c17=u'99999', _c18=u'99999'),
 Row(_c0=u'1103700150', _c1=u'2015-12-21T00:00:00', _c2=u'1435', _c3=None, _c4=None, _c5=u'CA', _c6=u'201512', _c7=None, _c8=u'GMC', _c9=u'VN', _c10=u'WH', _c11=u'525 S MAIN ST', _c12=u'1C51', _c13=u'1', _c14=u'4000A1', _c15=u'NO EVIDENCE OF REG', _c16=u'50', _c17=u'99999', _c18=u'99999'),
 Row(_c0=u'1104803000', _c1=u'2015-12-21T00:00:00', _c2=u'2055', _c3=None, _c4=None, _c5=u'CA', _c6=u'201503', _c7=None, _c8=u'NISS', _c9=u'PA', _c10=u'BK', _c11=u'200 WORLD WAY', _c12=u'2R2', _c13=u'2', _c14=u'8939', _c15=u'WHITE CURB', _c16=u'58', _c17=u'6439997.9', _c18=u'1802686.4'),
 Row(_c0=u'1104820732', _c1=u'2015-12-26T00:00:00', _c2=u'1515', _c3=None, _c4=None, _c5=u'CA', _c6=None, _c7=None, _c8=u'ACUR', _c9=u'PA', _c10=u'WH', _c11=u'100 WORLD WAY', _c12=u'2F11', _c13=u'2', _c14=u'000', _c15=u'17104h', _c16=None, _c17=u'6440041.1', _c18=u'1802686.2')]

In [15]:
df = spark.read.load(path,
                    format = 'com.databricks.spark.csv',
                    header = 'true',
                    inferSchema = 'true')
df.show(2)

+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+---------------+-----+------+--------------+---------------------+-----------+--------+---------+
|Ticket number|         Issue Date|Issue time|Meter Id|Marked Time|RP State Plate|Plate Expiry Date| VIN|Make|Body Style|Color|       Location|Route|Agency|Violation code|Violation Description|Fine amount|Latitude|Longitude|
+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+---------------+-----+------+--------------+---------------------+-----------+--------+---------+
|1.103341116E9|2015-12-21 00:00:00|    1251.0|    null|       null|            CA|         200304.0|null|HOND|        PA|   GY|13147 WELBY WAY|01521|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0| 99999.0|  99999.0|
| 1.10370015E9|2015-12-21 00:00:00|    1435.0|    null|       null|            CA|         201512.0|null| GMC|        VN|   WH|  525 S MAIN ST| 1C51|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0| 99999.0|  99999.0|
+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+---------------+-----+------+--------------+---------------------+-----------+--------+---------+
only showing top 2 rows

In [16]:
df.select('Ticket number').distinct().orderBy('Ticket number').show(2)

+-------------+
|Ticket number|
+-------------+
| 1.00109632E9|
|1.001096331E9|
+-------------+
only showing top 2 rows

In [17]:
df.printSchema()

root
 |-- Ticket number: double (nullable = true)
 |-- Issue Date: timestamp (nullable = true)
 |-- Issue time: double (nullable = true)
 |-- Meter Id: string (nullable = true)
 |-- Marked Time: double (nullable = true)
 |-- RP State Plate: string (nullable = true)
 |-- Plate Expiry Date: double (nullable = true)
 |-- VIN: string (nullable = true)
 |-- Make: string (nullable = true)
 |-- Body Style: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Agency: double (nullable = true)
 |-- Violation code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- Fine amount: double (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)